    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f2f6ff;
      font-family: sans-serif;
    }
    .login-card {
      width: 300px;
      background: #fff;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 2px 8px #ccc;
    }
    h2 {
      text-align: center;
      margin-bottom: 16px;
      color: #292727;
    }
    label, input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    input:focus {
    border-color: #fff;
    outline: none;
}
    button {
      width: 100%;
      padding: 10px;
      background-color: aqua;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: grab;
    }
    button:hover {
      background: #108787;
    }
    [type ="text"]
    {
   background-color: rgb(232, 232, 139);
    }
    [type ="password"]
    {
   background-color: rgb(130, 229, 159);
    }
